@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    /* background: #0e324d; */
    color: #fff;
}
.header{
    
    /* background: #fff;     */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   
}
.logo{
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
    color: white ;
    letter-spacing: 1px;

    position: relative;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #09324d;
    animation: showRight 1s ease forwards;
    animation-delay: .01s;
}

.nevber a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;  
}
.nevber a:hover{
    color: #00abf0;
}
.home{
    height: 100vh;
    background-image: url(./asset\ .png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.hone-content{
    max-width: 60%;
    /* background: #dbcece; */

}
.hone-content h1{
    position: relative;
    font-size: 3rem;
    font-weight: 700;
}
.hone-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #09324d;
    animation: showRight 1s ease forwards;
    animation-delay: .1s;
}
.hone-content h3{
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    color: #00abf0;
    
}
.hone-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #09324d;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}
.hone-content p{
    position: relative;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.hone-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #09324d;
    animation: showRight 1s ease forwards;
    animation-delay: .9s;
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
    
}
.hone-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #09324d;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
    z-index: 2;

}
.btn-box a{
    display: inline-flex;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    text-decoration: none;
    color: #081b29;
    font-weight: 600;
    justify-content: center;
    align-items: center;

    position: relative;

    z-index: 1;

    letter-spacing: 1px;

    overflow: hidden;

    transition: .5s;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .3s;
    
}
.btn-box a:hover::before{
    width: 100%;
}




.home-sci{
    /* height: 50px;  */
    position: relative;
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    
}
.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #09324d;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
    z-index: 2;

}
.home-sci a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    color: #00abf0;
    justify-content: center;
    align-items: center;

    position: relative;

    z-index: 1;

    overflow: hidden;

    transition: .5s;
}
.home-sci a:nth-child(2):hover{
    color: #081b29;
}
.home-sci a:nth-child(3):hover{
    color: #081b29;
}
.home-sci a:nth-child(1):hover{
    color: #081b29;
}
.home-sci a:nth-child(2)::before{
    background: #00abf0;
}
.home-sci a::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .3s;  
}
.home-sci a:hover::before{
    width: 100%;
}  

.img-hover{
    position: absolute;
    top: 120px;
    bottom: -90px;
    right: 80px;
    width: 510px;
    height: 770px;
    /* border: 1px solid #f80808; */
    transition: 1s;
    border-radius: 30%;
}
.img-hover::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #09324d;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
    z-index: 2;

}
.img-hover:hover{
    background: #09324D;
    opacity: .6;
}



@keyframes showRight {
    100%{
        width: 0;
    }
}